---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const albums: CollectionEntry<'albums'>[] = await getCollection('albums');
const bios = await getCollection('bios');
const biosWithContent = await Promise.all(
  bios.map(async (bio) => {
    const { Content } = await bio.render();
    return {
      ...bio,
      Content,
    };
  })
);
const events = await getCollection('events');
const eventsWithContent = await Promise.all(
  events.map(async (event) => {
    const { Content } = await event.render();
    return {
      ...event,
      Content,
    };
  })
);


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Triforce Quartet">
  <section id="hero">
    <h2>
      <span>Triforce Quartet<br />
      levels up<br />
      video game music</span>
    </h2>
    <figure>
      <img src="/img/hero.jpg" />
    </figure>
    <p>Add us to your party, wedding, convention, or event for traditional string quartet renditions of your favourite gaming soundtracks</p>
    <button class="cta" data-contact-dialog>Reserve your date</button>
    <a href="#music">Discover the new album</a>
  </section>
	<!-- <Welcome /> -->
  <Section title="Music" id="music">
    <ul class="albums">
    {albums
      .sort((a, b) => b.data.release.getTime() - a.data.release.getTime())
      .map((album, index) => (
      <li>
          <article class="album-card">
            <figure class="album-cover">
              <img src={`/albums/${album.slug}/cover.jpg`}/>
            </figure>
            <div class="album-details">
              <h3 class="album-title">{album.data.title}</h3>
              <time class="album-date">{(album.data.release.getFullYear())}</time>
            </div>
            <div class="button-bar">
              <details {...(index === 0 ? { open: true } : {})} class="tracklist-expand">
                <summary>Tracklist</summary>
                <ul class="tracklist">
                  {album.data.tracklist.map((track, index) => (
                    <li>
                      <div class="track-title">
                      <h4>{track.title}</h4>
                      {track.subitems && (
                        <ul class="subitems">
                          {track.subitems.map((item) => (
                            <li>{item}</li>
                          ))}
                        </ul>
                      )}
                      </div>
                      <time>{track.duration}</time>
                    </li>
                  ))}
                </ul>
              </details>
              <ul class="album-links">
                {album.data.bandcamp && (
                <li>
                  <a href={album.data.bandcamp}>
                    <img src="/img/bandcamp.svg" alt="Bandcamp"/>
                  </a>
                </li>
                )}
                {album.data.spotify && (
                <li>
                  <a href={album.data.spotify}>
                    <img src="/img/spotify.svg" alt="Spotify"/>
                  </a>
                </li>
                )}
                {album.data.applemusic && (
                <li>
                  <a href={album.data.applemusic}>
                    <img src="/img/applemusic.svg" alt="Apple Music"/>
                  </a>
                </li>
                )}
              </ul>
            </div>
          </article>
      </li>
    ))}
    </ul>
  </Section>
  <Section title="Events" id="events">
    <ul class="events">
    {eventsWithContent.filter((event) => event.data.date > new Date()) // Filter future events
      .sort((a, b) => a.data.date.getTime() - b.data.date.getTime()) // Soonest to furthest
      .map((event) => (
      <article class={`event-card${event.data.private ? ' event-private' : ''}`}>
        <time class="event-date">
          <span class="event-date-number">{(event.data.date.getDate())}</span>
          <span class="event-date-month">{(event.data.date.toLocaleString('default', { month: 'short' }))}</span>
        </time>
        <div class="event-details">
          <h3 class="event-title">{event.data.title}</h2>
          <p class="event-location">{event.data.location}</p>
          <event.Content />
          {event.data.private ? (
            <button class="event-link" data-contact-dialog>Event Enquiry</button>
          ) : (
            <a class="event-link" href={event.data.tickets}>Get tickets</a>
          )}

        </div>
      </article>
    ))}
    </ul>
  </Section> 
  <Section title="About" id="about">
    <ul class="bios">
    {biosWithContent.map((bio) => (
      <article class='bio-card'>
          <figure class="bio-image">
            <img src={`/bios/${bio.slug}.jpg`}/>
          </figure>
          <h3 class="bio-name">{bio.data.name}</h2>
          <p class="bio-position">{bio.data.position}</p>
          <details class="bio-expand">
            <summary>Read bio</summary>
            <div class="bio-content">
              <bio.Content />
            </div>
          </details>
      </article>
    ))}
    </ul>

  </Section>
	<!-- <ul class="posts-list">
    {biosWithContent.map(({ id, slug, data, Content }) => (
  <article>
    <h2>{data.name}</h2>
    <h3>{data.position}</h3>
    <Content />
  </article>
))}
</ul>
	<ul class="posts-list">
    {eventsWithContent.filter((event) => event.data.date > new Date()) // Filter future events
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime()) // Soonest to furthest
  .map((event) => (
  <article>
    <h2>{event.data.title}</h2>
    <h3>{event.data.date}</h3>
    <h3>{event.data.location}</h3>
    <event.Content />
    <a href={event.data.tickets}>Get tickets</a>
  </article>
))}
</ul> -->

</Layout>
